ul#annotation_box {
    background-color: @content-color-40;
    border: @base-color solid 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999999;

    li {
        padding: 3px;
        img {
            padding: 2px;
            vertical-align: middle;
        }
        &.current-item {
            background-color: @content-color-60;
        }        
    }
}